# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
#/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore virtual environment
venv/

# Byte-compiled files
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# VS Code settings (if you use VS Code)
.vscode/

# Ignore any logs
*.log

# Ignore MacOS system files
.DS_Store

